@media (orientation: landscape) {
    #section0-consecuence {
        .fp-bg {
            &:before {
                content: '';
                position: absolute;
                display: block;
                background: $color-gray-trasparent;
                @include bt-0;
                @include fullhw;
            }
            background-image: url('../media/consecuencias/bg-section0.jpg');
        }
        .fullscreen {
            @include fullpage-home;
            .bg-darky {
                background-color: $color-black-transparent;
                padding: 3%;
            }
            .font1 {
                @include font-fira-sans-extra-light;
                font-size: $font-size-31px;
                color: $color-white;
            }
            .font2 {
                @include font-fira-sans-medium;
                font-size: $font-size-31px;
                color: $color-white;
            }
            .font3 {
                @include font-fira-sans-extra-bold;
                font-size: $font-size-31px;
                color: $color-white;
            }
        }
    }
    /*** Section 1 ***/
    #section1-consecuence {
        .container-fluid {
            @include pm-0;
            @include fullhw;
            .lscp {
                @include visible-element;
            }
            .prt {
                @include hide-element
            }
            .row {
                @include pm-0;
                .col-md-8 {
                    @include pm-0;
                    .testimonial-item-consecuence-page {
                        max-width: 100%;
                        margin-top: 10%;
                        margin-right: 2%;
                        margin-left: 2%;
                        text-align: left;
                        padding-top: 0;
                        padding-right: 0;
                        padding-left: 0;
                        margin-bottom: 0%;
                        padding-bottom: 0;
                        .font1 {
                            @include font-fira-sans-extra-bold;
                            font-size: $font-size-31px;
                            color: $color-darky;
                        }
                        .font2 {
                            @include font-fira-sans-thin;
                            font-size: $font-size-26px;
                            color: $color-darky;
                        }
                    }
                }
                .bgYellow {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                    height: 100%;
                    .testimonial-item2 {
                        max-width: 100%;
                        margin-top: 20%;
                        margin-right: 3%;
                        margin-left: 4%;
                        text-align: left;
                        padding-top: 0;
                        padding-right: 0;
                        padding-left: 0;
                        margin-bottom: 0%;
                        padding-bottom: 0;
                        .tabletconsecuencetext {
                            max-width: 100%;
                            margin-top: 23%;
                            margin-right: 1%;
                            margin-left: 0%;
                            text-align: left;
                            padding-top: 0;
                            padding-right: 0;
                            padding-left: 0;
                            margin-bottom: 0%;
                            padding-bottom: 0;
                            .font3 {
                                @include font-fira-sans-medium;
                                font-size: $font-size-15px;
                                color: $color-darky;
                            }
                        }
                        .img-consecuence {
                            max-width: 70%;
                            margin-top: 0%;
                            margin-right: 11%;
                            margin-left: 10%;
                            text-align: left;
                            padding-top: 0;
                            padding-right: 0;
                            padding-left: 0;
                            margin-bottom: 5%;
                            padding-bottom: 0;
                            text-align: center;
                        }
                    }
                }
                .bgCrema {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                    .long {
                        max-width: 100%;
                        margin-top: 23%;
                        margin-right: 5%;
                        margin-left: 4%;
                        text-align: left;
                        padding-top: 0;
                        padding-right: 0;
                        padding-left: 0;
                        margin-bottom: 0%;
                        padding-bottom: 0;
                        .font4 {
                            @include font-fira-sans-thin;
                            font-size: $font-size-31px;
                            color: $color-darky;
                            margin-bottom: $line-height-base;
                        }
                        .font5 {
                            @include font-fira-sans-extra-bold;
                            font-size: $font-size-31px;
                            color: $color-orange;
                            margin-bottom: $line-height-base;
                        }
                        .font6 {
                            @include font-fira-sans-regular;
                            font-size: $font-size-31px;
                            color: $color-orange;
                            margin-bottom: $line-height-base;
                        }
                    }
                }
            }
        }
    }
    #section2-consecuence {
        .container-fluid {
            @include pm-0;
            .lscp {
                @include visible-element;
            }
            .prt {
                @include hide-element
            }
            @include pm-0;
            .bg-dark {
                height: 100%;
            }
            .row {
                .col-sm-6 {
                    @include pm-0;
                    .testimonial-item-graph {
                        max-width: 75%;
                        margin-top: 25%;
                        margin-left: 5%;
                        margin-bottom: 0%;
                        padding: 0% 0 0% 0;
                    }
                }
                .col-sm-12 {
                    @include pm-0;
                    .testimonial-item-grap2.graph2 {
                        max-width: 55% !important;
                        margin-top: 2% !important;
                        margin-right: 2% !important;
                        margin-left: 2% !important;
                        text-align: center !important;
                        padding-top: 0% !important;
                        padding-right: 0% !important;
                        padding-left: 0% !important;
                        padding-bottom: 0% !important;
                        margin-bottom: 13% !important;
                    }
                }
                .scroll-down {
                    position: absolute;
                    z-index: 1;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 15%;
                    color: #fff !important;
                }
            }
        }
    }
    #section3-consecuence {
        .container-fluid {
            @include pm-0;
            .row {
                @include pm-0;
                .lscp {
                    @include visible-element;
                }
                .prt {
                    @include hide-element
                }
                .col-sm-4 {
                    @include pm-0;
                    height: 100%;
                    .item-consecuenciasbeekeeper {
                        max-width: 100%;
                        margin-top: 0%;
                    }
                }
                .section3bg {
                    background-image: url('../media/consecuencias/bg-sector3H.jpg');
                    .fp-bg {
                        &:before {
                            content: '';
                            position: absolute;
                            display: block;
                            background: $color-gray-trasparent;
                            @include bt-0;
                            @include fullhw;
                        }
                    }
                    background-size: cover;
                }
                .col-sm-8 {
                    @include pm-0;
                    height: 100%;
                }
                .bgOrange {
                    background-color: $color-orange-bg;
                    height: 100%;
                    .item-consecuencias {
                        max-width: 100%;
                        margin: 13% 4% 0% 3%;
                        text-align: left;
                        padding: 0 0 0% 0;
                        .font1 {
                            @include font-fira-sans-extra-bold;
                            font-size: $font-size-26px;
                            color: $color-darky;
                            margin-bottom: 4% !important;
                        }
                        .font2 {
                            @include font-fira-sans-light;
                            font-size: $font-size-21px;
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
}