/* iPhone 6, 7, & 8 Plus in landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
    .fullscreen {
        height: 100%;
        width: 100%;
        margin: 0 0;
        padding: 25% 0 0 0;
        border: 0 0;
    }
    .text-white {
        padding-top: 5%;
    }
    #section0 {
        .text-white {
            margin-top: -15% !important;
        }
        .fp-bg {
            &:before {
                content: '';
                position: absolute;
                display: block;
                background: rgba(173, 173, 173, 0.2);
                top: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
            }
            background-image: url('../../../../media/bgmobile/mapa_bg.svg');
            background-position: center;
        }
        .scroll-down {
            bottom: -12%;
        }
    }
    .FiraSansExtraLight {
        font-size: 1.5rem;
    }
    .FiraSansBold38 {
        font-size: 1.5rem !important;
        line-height: 1.6rem !important;
    }
    .FiraSansThin18 {
        font-size: 1.3rem;
        line-height: 1.7rem;
    }
    .FiraSansRegular30 {
        font-size: 1.2rem;
    }
    .FiraSansThin18White {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .tarros {
        width: 35% !important;
        height: auto !important;
        align-self: center !important;
        margin: auto !important;
        padding-bottom: 11% !important;
    }
    .scroll-down-black {
        position: absolute;
        bottom: 1%;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        color: #2d2521 !important;
    }
    .contenedorBtnLeer {
        position: relative;
        height: 12%;
        width: 16%;
        margin: -5% auto 2% auto;
        padding-bottom: 4%;
        img {
            margin-top: -2%;
        }
    }
    #section2 {
        .fp-bg {
            &:before {
                content: '';
                position: absolute;
                display: block;
                background: rgba(173, 173, 173, 0.2);
                top: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
            }
            background-image: url('../../../../media/bgmobile/bg-index-section2portrait');
            background-position: center;
        }
        .index-consecuence-item2 {
            .ordermb {
                margin-top: 10%;
            }
        }
        .contenedorBtnLeer {
            img {
                position: absolute;
                left: -10%;
            }
        }
        .scroll-down {
            bottom: 0%;
        }
    }
    .fp-bg {
        background-size: cover;
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .fraud_bg {
        background: url('../../../../media/bgmobile/bg-index-section2portrait');
        background-repeat: no-repeat;
        background-size: cover !important;
        background-size: contain;
        height: 100%;
    }
    .buttom-left.es {
        bottom: 0%;
        right: 0;
        margin-left: 0%;
        margin-top: -40%;
    }
    .buttom-left.fr {
        bottom: 0%;
        right: 0;
        margin-left: 0%;
        margin-top: -40%;
    }
    .buttom-left.en {
        bottom: 0%;
        right: 0;
        margin-left: 0%;
        margin-top: -40%;
    }
    .index-consecuence-item {
        max-width: 100% !important;
        margin: -15% 3% 14% 1% !important;
        text-align: left !important;
        padding: 7% 0 0% 0 !important;
    }
    #section3 {
        .index-consecuence-item {
            max-width: 100% !important;
            margin: -15% 3% 18% 1% !important;
            text-align: left !important;
            padding: 45% 0 0% 0 !important;
        }
    }
    .index-consecuence-item2 {
        max-width: 100% !important;
        margin: 0px auto 0 0% !important;
        text-align: left !important;
        padding: 20% 0 16% 0 !important;
    }
    .bgOrange {
        background-color: #d88100 !important;
        margin-top: 21%;
    }
    .hive {
        max-width: 52%;
        padding-bottom: 3%;
        margin-top: 0%;
        padding-top: 0%;
    }
    #section3 {
        .index-consecuence-item {
            max-width: 90% !important;
            margin: 0% 3% -23% 1% !important;
            text-align: left !important;
            padding: 33% 0 7% 0 !important;
        }
        .text-right {
            text-align: center !important;
        }
    }
    .fraudMessage {
        width: 91%;
    }
    .newspaper-padding {
        padding-bottom: 0% !important;
        margin-top: 1% !important;
        padding-top: 0;
        width: 65%;
    }
    .topmnews {
        padding-bottom: 25% !important;
        margin-top: 0% !important;
    }
    .side-nav {
        .navbar-nav {
            .nav-link {
                &:hover {
                    display: inline-table;
                    color: #FECE00;
                    padding: 1% 0 1.5% 0 !important;
                    position: relative;
                    -webkit-border-radius: 0;
                    border-radius: 0;
                }
            }
        }
    }
    .bgYellow {
        background-color: #fece00 !important;
        padding-bottom: 40%;
    }
}