/* iPhone 6, 7, & 8 Plus in  portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
    .landscape {
        display: none;
        #section7 {
            visibility: hidden;
            display: none !important;
            .fullpage {
                visibility: hidden;
                display: none !important;
            }
            .container-fluid {
                visibility: hidden;
                display: none !important;
            }
            .row {
                visibility: hidden;
                display: none !important;
            }
        }
        #section2 {
            visibility: hidden;
            display: none !important;
            .fullpage {
                visibility: hidden;
                display: none !important;
            }
            .container-fluid {
                visibility: hidden;
                display: none !important;
            }
            .row {
                visibility: hidden;
                display: none !important;
            }
        }
        #section4 {
            visibility: hidden;
            display: none !important;
            .fullpage {
                visibility: hidden;
                display: none !important;
            }
            .container-fluid {
                visibility: hidden;
                display: none !important;
            }
            .row {
                visibility: hidden;
                display: none !important;
            }
        }
    }
    #section0 {
        .fp-bg {
            &:before {
                content: '';
                position: absolute;
                display: block;
                background: $color-gray-trasparent;
                @include bt-0;
                @include fullhw;
            }
            background-image: url('../../media/index/mapaindexportrait.svg');
        }
        .fullscreen {
            @include center-block;
        }
        .font1 {
            @include font-fira-sans-extra-light;
            font-size: $font-size-38px;
            color: $color-white;
        }
        .font2 {
            @include font-fira-sans-bold;
            font-size: $font-size-35px;
            color: $color-white;
        }
        .font3 {
            @include font-fira-sans-thin;
            font-size: $font-size-38px;
            color: $color-white;
        }
        .tarros {
            width: 70%;
            height: auto;
            padding-top: 4%;
        }
    }
    #section1 {
        .font1 {
            @include font-fira-sans-bold;
            font-size: $font-size-21px;
            color: $color-darky
        }
        .font2 {
            @include font-fira-sans-thin;
            font-size: $font-size-19px;
            color: $color-darky
        }
        .container-fluid {
            height: 100%;
            .row {
                height: 100%;
                background-color: $color-orange-bg;
            }
            .index-consecuence-item {
                @include page-item-mobile;
            }
            .hive {
                max-width: 52%;
                padding-bottom: 3%;
                margin-top: 0%;
                padding-top: 0%;
            }
        }
    }
    #section2 {
        .landscape {
            display: none;
        }
    }
    #section3 {
        .fp-bg {
            &:before {
                content: '';
                position: absolute;
                display: block;
                background: $color-gray-trasparent;
                @include bt-0;
                @include fullhw;
            }
        }
        .font1 {
            @include font-fira-sans-bold;
            font-size: $font-size-21px;
            color: $color-white;
            text-shadow: 1px 1px 0.3px $color-darky;
        }
        .font2 {
            @include font-fira-sans-light;
            font-size: $font-size-21px;
            color: $color-egg;
            text-shadow: 1px 1px 0.3px $color-darky;
        }
        .font3 {
            @include font-fira-sans-thin;
            font-size: $font-size-19px;
            color: $color-white;
            text-shadow: 1px 1px 0.3px $color-darky;
        }
        .font4 {
            @include font-fira-sans-thin;
            font-size: $font-size-21px + 0.2;
            color: $color-egg;
            text-shadow: 1px 1px 0.3px $color-darky;
        }
        .font5 {
            @include font-fira-sans-thin;
            font-size: $font-size-21px + 0.2;
            color: $color-white;
            text-shadow: 1px 1px 0.3px $color-darky;
        }
        background-image: url('../../media/index/bg-index-section2portrait.jpg');
        background-size:cover;
        background-position:centered;
        background-repeat:no-repeat;
        .index-consecuence-item {
            @include page-item-mobile;
        }
        .fraudMessage {
            width: auto;
            -ms-flex-item-align: end;
            padding-top: 0%;
        }
        .buttom-left.es {
            @include buttom-left-position-portrait;
        }
        .buttom-left.en {
            @include buttom-left-position-portrait;
        }
        .buttom-left.fr {
            @include buttom-left-position-portrait;
        }
    }
    #section5 {
        .index-consecuence-item {
            @include page-item-mobile;
        }
        .topmnews {
            padding: 12% 0% 17% 0% !important;
        }
        .newspaper-padding {
            padding-top: 0;
            width: 80%;
        }
        .font1 {
            @include font-fira-sans-bold;
            font-size: $font-size-21px;
            color: $color-darky;
        }
        .font2 {
            @include font-fira-sans-thin;
            font-size: $font-size-19px;
            color: $color-darky;
        }
    }
    #section6 {
        .index-consecuence-item {
            @include page-item-mobile;
        }
        .topmnews {
            padding: 12% 0% 17% 0% !important;
        }
        .newspaper-padding {
            padding-top: 0;
            width: 80%;
        }
        .font1 {
            @include font-fira-sans-bold;
            font-size: $font-size-21px;
            color: $color-darky;
        }
        .font2 {
            @include font-fira-sans-thin;
            font-size: $font-size-19px;
            color: $color-darky;
        }
    }
    // #section3-landscape {
    //     display: none;
    // }
    // #section5mobile {
    //     .index-consecuence-item {
    //         @include page-item-mobile;
    //     }
    //     .topmnews {
    //         padding: 12% 0% 17% 0% !important;
    //     }
    //     .newspaper-padding {
    //         padding-top: 0;
    //         width: 80%;
    //     }
    //     .font1 {
    //         @include font-fira-sans-bold;
    //         font-size: $font-size-21px;
    //         color: $color-darky;
    //     }
    //     .font2 {
    //         @include font-fira-sans-thin;
    //         font-size: $font-size-19px;
    //         color: $color-darky;
    //     }
    // }
    // .fullscreen {
    // 	height: 100%;
    // 	width: 100%;
    // 	margin: 0 0;
    // 	padding: 25% 0 0 0;
    // 	border: 0 0;
    // }
    // .visibledesktop {
    // 	display: none !important;
    // }
    // .visiblemobile {
    // 	display: visible !important;
    // }
    // .text-white {
    // 	padding-top: 5%;
    // }
    // .FiraSansExtraLight {
    // 	font-size: 1.5rem;
    // }
    // .FiraSansBold38 {
    // 	font-size: 1.5rem !important;
    // 	line-height: 1.6rem !important;
    // }
    // .FiraSansThin18 {
    // 	font-size: 1.3rem;
    // 	line-height: 1.7rem;
    // }
    // .FiraSansRegular30 {
    // 	font-size: 1.2rem;
    // }
    // .FiraSansThin18White {
    // 	font-size: 1.2rem;
    // 	line-height: 1.5rem;
    // }
    // .tarros {
    // 	width: 70%;
    // 	height: auto;
    // 	padding-top: 4%;
    // }
    // #section0 {
    // 	.fp-bg {
    // 		&:before {
    // 			content: '';
    // 			position: absolute;
    // 			display: block;
    // 			background: rgba(173, 173, 173, 0.2);
    // 			top: 0;
    // 			bottom: 0;
    // 			height: 100%;
    // 			width: 100%;
    // 		}
    // 		background-image: url('../../../../media/bgmobile/mapa_bg.svg');
    // 		background-position: center;
    // 	}
    // }
    // #section2 {
    // 	.fp-bg {
    // 		&:before {
    // 			content: '';
    // 			position: absolute;
    // 			display: block;
    // 			background: rgba(173, 173, 173, 0.2);
    // 			top: 0;
    // 			bottom: 0;
    // 			height: 100%;
    // 			width: 100%;
    // 		}
    // 		background-image: url('../../../../media/bgmobile/plantV.png');
    // 		background-position: center;
    // 	}
    // 	.index-consecuence-item2 {
    // 		.ordermb {
    // 			margin-top: 10%;
    // 		}
    // 	}
    // 	.contenedorBtnLeer {
    // 		img {
    // 			position: absolute;
    // 			left: -10%;
    // 		}
    // 	}
    // 	.scroll-down {
    // 		bottom: 0%;
    // 	}
    // }
    // .fp-bg {
    // 	background-size: cover;
    // 	transform: translate3d(0, 0, 0);
    // 	-webkit-backface-visibility: hidden;
    // 	backface-visibility: hidden;
    // }
    // .fraud_bg {
    // 	background: url('../../../../media/bgmobile/plantV.png');
    // 	background-repeat: no-repeat;
    // 	background-size: cover !important;
    // 	background-size: contain;
    // 	height: 100%;
    // }
    // .buttom-left.es {
    // 	bottom: 0%;
    // 	right: 0;
    // 	margin-left: 0%;
    // 	margin-top: -40%;
    // }
    // .buttom-left.fr {
    // 	bottom: 0%;
    // 	right: 0;
    // 	margin-left: 0%;
    // 	margin-top: -40%;
    // }
    // .buttom-left.en {
    // 	bottom: 0%;
    // 	right: 0;
    // 	margin-left: 0%;
    // 	margin-top: -40%;
    // }
    // .index-consecuence-item {
    // 	max-width: 100% !important;
    // 	margin: -15% 3% 14% 1% !important;
    // 	text-align: left !important;
    // 	padding: 16% 0 0% 0 !important;
    // }
    // #sectio3 {
    // 	.index-consecuence-item {
    // 		max-width: 100% !important;
    // 		margin: -15% 3% 18% 1% !important;
    // 		text-align: left !important;
    // 		padding: 45% 0 0% 0 !important;
    // 	}
    // }
    // .index-consecuence-item2 {
    // 	max-width: 100% !important;
    // 	margin: 0px auto 0 0% !important;
    // 	text-align: left !important;
    // 	padding: 20% 0 16% 0 !important;
    // }
    // .bgOrange {
    // 	background-color: #d88100 !important;
    // 	margin-top: 21%;
    // }
    // .hive {
    // 	max-width: 52%;
    // 	padding-bottom: 3%;
    // 	margin-top: 0%;
    // 	padding-top: 0%;
    // }
    // #section1 {
    // 	.scroll-down-black {
    // 		position: absolute;
    // 		bottom: 1%;
    // 		z-index: 1;
    // 		left: 50%;
    // 		transform: translateX(-50%);
    // 		color: #2d2521 !important;
    // 	}
    // 	.contenedorBtnLeer {
    // 		position: relative;
    // 		height: 12%;
    // 		width: 16%;
    // 		margin: -5% auto 2% auto;
    // 		padding-bottom: 4%;
    // 		img {
    // 			margin-top: -2%;
    // 		}
    // 	}
    // }
    // #section3 {
    // 	.index-consecuence-item {
    // 		max-width: 90% !important;
    // 		margin: 0% 3% -23% 1% !important;
    // 		text-align: left !important;
    // 		padding: 33% 0 7% 0 !important;
    // 	}
    // 	.text-right {
    // 		text-align: center !important;
    // 	}
    // }
    // .fraudMessage {
    // 	width: 91%;
    // }
    // .newspaper-padding {
    // 	padding-bottom: 0% !important;
    // 	margin-top: 1% !important;
    // 	padding-top: 0;
    // 	width: 65%;
    // }
    // .topmnews {
    // 	padding-bottom: 25% !important;
    // 	margin-top: 0% !important;
    // }
    // .side-nav {
    // 	.navbar-nav {
    // 		.nav-link {
    // 			&:hover {
    // 				display: inline-table;
    // 				color: #FECE00;
    // 				padding: 1% 0 1.5% 0 !important;
    // 				position: relative;
    // 				-webkit-border-radius: 0;
    // 				border-radius: 0;
    // 			}
    // 		}
    // 	}
    // }
    // .bgYellow {
    // 	background-color: #fece00 !important;
    // 	padding-bottom: 40%;
    // }
}