// Base
@import 'base/variables';
@import 'base/mixins';
@import 'base/fonts';
// Componentes
@import 'componentes/menu';
@import 'componentes/buttons';
@import 'componentes/header';
@import 'componentes/footer';
// @import 'componentes/effects';
// Secciones
@import 'secciones/consecuencias';
@import 'secciones/fraude';
@import 'secciones/importexport';
@import 'secciones/index';
@import 'secciones/consecuencias_h';
@import 'secciones/fraude_h';
@import 'secciones/importexport_h';
@import 'secciones/index_h';

/*** Start body style***/


/* The Overlay (background) */

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


/* Position the content inside the overlay */

.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}


/* The navigation links inside the overlay */

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}


/* When you mouse over the navigation links, change their color */

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}


/* Position the close button (top right corner) */

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

body {
    overflow: hidden !important;
    max-height: 100%;
    >div {
        &:nth-child(13) {
            opacity: 0 !important;
        }
    }
}

html {
    overflow: hidden !important;
    max-height: 100%;
}

@viewport {
    user-zoom: fixed;
}

a {
    &:hover {
        color: $color-white;
        text-decoration: none;
    }
    &:active {
        color: $color-white;
        @include text-decoration-outline;
    }
    &:focus {
        @include text-decoration-outline;
    }
}

img {
    max-width: 100%;
}

.fp-bg {
    @include fp-bg-config;
}

// .fullscreen {
//     @include fullhw;
//     @include mpb-0;
// }
.scroll-down {
    @include arrow-position;
    color: $color-white !important;
    i {
        padding-left: $arrow-padding-left;
        fill: $color-white;
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
        svg {
            @include arrow-size;
        }
    }
    &:hover {
        i {
            color: $color-white;
        }
    }
}

.scroll-down-black {
    i {
        padding-left: $arrow-padding-left;
        fill: color-darky;
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
        svg {
            @include arrow-size;
        }
    }
    @include arrow-position;
    color: color-darky !important;
}

// .bgOrange {
//     background-color: $color-orange;
// }
.bgYellow {
    background-size: cover;
    background-color: $color-egg;
    margin-top: 0%;
    padding-bottom: 5%;
}

.bg-import-export {
    background-color: $color-darky !important;
    color: $color-white-gray;
}

.bg-darkTrasparent-1rem {
    background-color: $color-black-transparent !important;
    @include p-1;
}

.center-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.SpamYellow_fece00 {
    color: $color-egg;
}

// .testimonial-item {
//     max-width: 44%;
//     margin: 0 1%;
//     text-align: left;
//     padding: 7.5% 0;
// }
.title {
    margin-bottom: 5%;
    margin-top: 9%;
    h2 {
        font-size: $font-size-principal * 2;
        line-height: $line-height-base + 0.2;
        font-weight: 500;
    }
}

.contact-form {
    max-width: 54.90%;
    display: block;
    text-align: center;
    margin: 0 auto;
    .form-control {
        border: none;
        border-bottom: 1px solid $color-gray-white;
        padding: 3% 1%;
        background: $color-white;
        letter-spacing: .7px;
        font-weight: 300;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 6%;
        color: $color-darky;
        font-size: $font-size-principal - 0.5;
        position: relative;
        -webkit-transition: border .9s ease;
        -o-transition: border .9s ease;
        transition: border .9s ease;
    }
    textarea {
        min-height: 27.13%;
        resize: none;
    }
    .form-group {
        margin-bottom: 6.65%;
    }
}

.form-control {
    &::placeholder {
        color: $color-gray-white;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: $color-gray-white;
    }
    &::-ms-input-placeholder {
        color: $color-gray-white;
    }
}

@media (orientation: landscape) {
    .fixed-top {
        height: 9%;
    }
    .scroll-down {
        @include arrow-position-mobile;
        color: $color-white !important;
        i {
            padding-left: $arrow-padding-left-h;
            fill: $color-white;
            -webkit-animation: mover 1s infinite alternate;
            animation: mover 1s infinite alternate;
            svg {
                @include arrow-size-mobile;
            }
        }
        &:hover {
            i {
                color: $color-white;
            }
        }
    }
    .scroll-down-black {
        i {
            padding-left: $arrow-padding-left-h;
            fill: color-darky;
            -webkit-animation: mover 1s infinite alternate;
            animation: mover 1s infinite alternate;
            svg {
                @include arrow-size-mobile;
            }
        }
        @include arrow-position-mobile;
        color: color-darky !important;
    }
}