.es {
    display: none;
    &:lang(es) {
        display: block;
    }
}

.fr {
    display: none;
    &:lang(fr) {
        display: block;
    }
}

.en {
    display: none;
    &:lang(en) {
        display: block;
    }
}

.opacity1 {
    opacity: 1;
}

.imgZoom {
    img {
        transition: transform .5s ease;
    }
    &:hover {
        img {
            transform: scale(1.5);
        }
    }
}

header {
    width: 100%;
    z-index: 99;
    .logo {
        .logo-dark {
            @include components-logo-0;
            @include effect-duration-logo;
            width: 30%;
        }
        .logo-light {
            @include components-logo-0;
            @include effect-duration-logo;
            width: 30%;
        }
        .logo-dark.default {
            @include components-logo-1;
            @include effect-duration-logo;
            width: 30%;
        }
        .logo-light.default {
            @include components-logo-1;
            @include effect-duration-logo;
            width: 30%;
        }
    }
    a.logo {
        display: inline-block;
        vertical-align: middle;
        line-height: 0;
        margin: 0% 0 0 15%;
        img {
            margin-top: 0%;
            max-height: auto;
            max-width: 60%;
            vertical-align: sub;
        }
    }
}

header.header-appear {
    nav {
        .logo {
            .logo-light {
                @include components-logo-1;
                @include effect-duration-logo;
                @include components-logo-0;
                transition-duration: 0.5s;
                -webkit-animation-name: fadeInDown;
                -o-animation-name: fadeInDown;
                animation-name: fadeInDown;
            }
            .logo-dark {
                @include components-logo-0;
                @include effect-duration-logo;
                @include components-logo-1;
            }
        }
    }
    nav.header-dark {
        .logo {
            .logo-light {
                @include components-logo-1;
                @include effect-duration-logo;
            }
            .logo-dark {
                @include components-logo-0;
                @include effect-duration-logo;
            }
        }
    }
    nav.header-light {
        .logo {
            .logo-dark {
                @include components-logo-1;
                @include effect-duration-logo;
            }
            .logo-light {
                @include components-logo-0;
                transition-duration: 0.5s;
                -webkit-animation-name: fadeInDown;
                -o-animation-name: fadeInDown;
                animation-name: fadeInDown;
            }
        }
    }
}

.toggler-icon-nav {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.menu-ico {
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    svg {
        height: 50%;
        width: 50%;
    }
}

#indexlogo {
    width: 70%;
    height: 70%;
    margin-top: 15%;
}

.logo-bg {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    background-color: #DDD5CA;
    width: 11.3%;
    margin-left: -2.2%;
    padding-left: 30px;
    -webkit-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDownBg;
    -o-animation-name: fadeInDownBg;
    animation-name: fadeInDownBg;
    -webkit-box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.54);
    border-radius: 0px 0px 10px 0px;
    -moz-border-radius: 0px 0px 10px 0px;
    -webkit-border-radius: 0px 0px 10px 0px;
    border: 0px solid #DDD5CA;
}

.translateFr {
    @include translate-flag;
    margin-right: 29%;
}

.translateEn {
    @include translate-flag;
    margin-right: 21%;
}

.translateEs {
    @include translate-flag;
    margin-right: 13%;
}

.opacity03 {
    opacity: 0.4;
    filter: grayscale(100%) !important;
    filter: opacity(80%) !important;
    filter: brightness(20%) !important;
}

.opacity1 {
    opacity: 1;
}

.imgZoom {
    img {
        transition: transform .5s ease;
    }
    &:hover {
        img {
            transform: scale(1.5);
        }
    }
}

@media (orientation: landscape) {
    #indexlogo {
        margin-top: 15%;
    }
    .translateFr {
        @include translate-flag-mobile;
        margin-right: 21%;
    }
    .translateEn {
        @include translate-flag-mobile;
        margin-right: 15%;
    }
    .translateEs {
        @include translate-flag-mobile;
        margin-right: 8%;
    }
}