/* ===================================
     Google font
 ====================================== */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800&display=swap');
$font-size-10px: 0.62rem;
$font-size-11px: 0.68rem;
$font-size-12px: 0.75rem;
$font-size-13px: 0.81rem;
$font-size-14px: 0.87rem;
$font-size-15px: 0.93rem;
$font-size-16px: 1rem;
$font-size-principal: 1rem;
$font-size-19px: 1.18rem;
$font-size-21px: 1.31rem;
$font-size-26px: 1.62rem;
$font-size-30px: 1.87rem;
$font-size-31px: 1.93rem;
$font-size-33px: 1.99rem;
$font-size-34px: 1.12rem;
$font-size-35px: 2.18rem;
$font-size-38px: 2.37rem;
$font-size-40px: 2.5rem;
$font-size-48px: 3rem;
$font-size-53px: 3.31rem;
$font-principal :'Fira Sans',
sans-serif;
$txt-space-line:1.5rem;
@mixin font-fira-sans-thin {
    font-family: $font-principal;
    font-weight: 100;
    font-style: normal;
}

@mixin font-fira-sans-extra-light {
    font-family: $font-principal;
    font-weight: 200;
    font-style: normal;
}

@mixin font-fira-sans-light {
    font-family: $font-principal;
    font-weight: 300;
    font-style: normal;
}

@mixin font-fira-sans-normal {
    font-family: $font-principal;
    font-style: normal;
}

@mixin font-fira-sans-regular {
    font-family: $font-principal;
    font-weight: 400;
    font-style: normal;
}

@mixin font-fira-sans-medium {
    font-family: $font-principal;
    font-weight: 500;
    font-style: normal;
}

@mixin font-fira-sans-semi-bold {
    font-family: $font-principal;
    font-weight: 600;
    font-style: normal;
}

@mixin font-fira-sans-bold {
    font-family: $font-principal;
    font-weight: 700;
    font-style: normal;
}

@mixin font-fira-sans-extra-bold {
    font-family: $font-principal;
    font-weight: 800;
    font-style: normal;
}

// $font-fira-sans-condensed: 'Fira Sans Condensed',
// sans-serif !important;
$line-height-base: 1rem;
// .FiranSansCondensed {
//     font-family: $font-fira-sans-condensed;
// }
.FiraSansThin38Modal {
    @include font-fira-sans-thin;
    font-size: $font-size-principal + 1;
    color: $color-darky;
}