@mixin pm-0 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

@mixin visible-element {
    display: block;
}

@mixin hide-element {
    display: none;
}

@mixin fullpage-home {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}