    @media (orientation: landscape) {
        // Start Section 0
        #section0 {
            .fp-bg {
                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    background: $color-gray-trasparent;
                    @include bt-0;
                    @include fullhw;
                }
                background-image: url('../media/index/mapaindex.svg');
            }
            .fullscreen {
                @include fullpage-home;
                .content {
                    .tarros {
                        width: 40%;
                        height: auto;
                        padding-top: 4%;
                        margin: auto;
                        display: block;
                    }
                    .font1 {
                        @include font-fira-sans-extra-light;
                        font-size: $font-size-31px;
                        color: $color-white;
                    }
                    .font2 {
                        @include font-fira-sans-bold;
                        font-size: $font-size-31px;
                        color: $color-white;
                    }
                    .font3 {
                        @include font-fira-sans-thin;
                        font-size: $font-size-26px;
                        color: $color-white;
                    }
                }
            }
        }
        // Start Section 1
        #section1 {
            .container-fluid {
                .lscp {
                    @include visible-element;
                }
                .prt {
                    @include hide-element;
                }
                @include pm-0;
                .row {
                    height: $height-100vh;
                    @include pm-0;
                    .bgOrange {
                        height: 100%;
                        background-color: $color-orange-bg;
                        background-size: cover;
                    }
                    .col-md-6 {
                        height: 100%;
                        @include pm-0;
                        .index-consecuence-item {
                            max-width: 100%;
                            text-align: left;
                            margin-left: 5%;
                            margin-top: 35%;
                            margin-right: 3%;
                            margin-bottom: 15%;
                            padding-top: 0%;
                            padding-right: 0%;
                            padding-bottom: 0%;
                            padding-left: 0%;
                            .font1 {
                                @include font-fira-sans-bold;
                                font-size: $font-size-26px;
                                color: $color-darky
                            }
                            .font2 {
                                @include font-fira-sans-thin;
                                font-size: $font-size-21px;
                                color: $color-darky
                            }
                        }
                        .hive {
                            max-width: 100%;
                            padding-bottom: 3%;
                            margin-top: 30%;
                            margin-right: 0%;
                        }
                    }
                }
            }
        }
        // Start Section 2
        #section2 {
            .fp-bg {
                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    background: $color-gray-trasparent;
                    @include bt-0;
                    @include fullhw;
                }
                background-image: url('../media/index/bg-index-section2landscape.jpg');
                background-size:cover;
            }
            .container-fluid {
                @include pm-0;
                .row {
                    @include pm-0;
                    .lscp {
                        @include visible-element;
                    }
                    .prt {
                        @include hide-element;
                    }
                    .col-sm-8.bgYellow {
                        height: 100%;
                    }
                    .col-sm-6 {
                        @include pm-0;
                        .index-consecuence-item {
                            max-width: 100%;
                            text-align: left;
                            margin-left: 4%;
                            margin-top: 25%;
                            margin-right: 3%;
                            margin-bottom: 3%;
                            padding-top: 0%;
                            padding-right: 0%;
                            padding-bottom: 0%;
                            padding-left: 0%;
                            .font1 {
                                @include font-fira-sans-bold;
                                font-size: $font-size-31px;
                                color: $color-white;
                                text-shadow: 1px 1px 0.3px $color-darky;
                            }
                            .font2 {
                                @include font-fira-sans-light;
                                font-size: $font-size-31px;
                                color: $color-egg;
                                text-shadow: 1px 1px 0.3px $color-darky;
                            }
                            .font3 {
                                @include font-fira-sans-light;
                                font-size: $font-size-26px;
                                color: $color-white;
                                text-shadow: 1px 1px 0.3px $color-darky;
                            }
                        }
                        .fraudMessage {
                            @include page-item;
                            margin-top: 100%;
                            padding-top: 0%;
                            margin-right: 0%;
                            .font2 {
                                @include font-fira-sans-light;
                                font-size: $font-size-31px;
                                color: $color-egg;
                                text-shadow: 1px 1px 0.3px $color-darky;
                            }
                            .font4 {
                                @include font-fira-sans-light;
                                font-size: $font-size-31px;
                                color: $color-egg;
                                text-shadow: 1px 1px 0.3px $color-darky;
                            }
                            .font5 {
                                @include font-fira-sans-light;
                                font-size: $font-size-31px;
                                color: $color-white;
                                text-shadow: 1px 1px 0.3px $color-darky;
                            }
                            .buttom-left.es {
                                @include buttom-left-position-portrait;
                            }
                            .buttom-left.en {
                                @include buttom-left-position-portrait;
                            }
                            .buttom-left.fr {
                                @include buttom-left-position-portrait;
                            }
                        }
                    }
                }
            }
        }
        #section3 {
            .container-fluid {
                @include pm-0;
                height: 100%;
                .row {
                    @include pm-0;
                    .lscp {
                        @include visible-element;
                    }
                    .prt {
                        @include hide-element;
                    }
                    .bgCrema-h {
                        background-color: $color-crema;
                        background-size: cover;
                    }
                    .bgYellow-h {
                        background-color: $color-yellow;
                        background-size: cover;
                        height: 100%;
                        @include pm-0;
                        .index-consecuence-item-h {
                            max-width: 100%;
                            margin: 25% 3% 0% 3%;
                            text-align: left;
                            padding: 0% 0 0% 0;
                            .font1 {
                                @include font-fira-sans-bold;
                                font-size: $font-size-26px;
                                color: $color-darky;
                            }
                            .font2 {
                                @include font-fira-sans-thin;
                                font-size: $font-size-21px;
                                color: $color-darky;
                            }
                            .contenedorBtnLeer {
                                position: relative;
                                height: 10%;
                                width: 10%;
                                margin: -4% auto 0% auto;
                            }
                        }
                    }
                    .col-sm-4 {
                        @include pm-0;
                        .topmnews {
                            padding: 0% 0% 0% 0%;
                            margin: 0% 0% 0% 0;
                        }
                        .item-newspaper-h {
                            position: absolute;
                            margin-top: -5%;
                        }
                        .newspaper-padding {
                            padding-top: 0;
                            width: 73%;
                        }
                        .newspaper-padding-1 {
                            margin-top: 40%;
                            width: 73%;
                        }
                    }
                }
            }
        }
    }