@mixin logo-color {
    .logo-dark {
        @include components-logo-0;
        @include effect-duration-logo;
    }
    .logo-light {
        @include components-logo-0;
        @include effect-duration-logo;
    }
    .logo-dark.default {
        @include components-logo-1;
        @include effect-duration-logo;
    }
    .logo-light.default {
        @include components-logo-1;
        @include effect-duration-logo;
    }
}

@mixin logo-img-size {
    margin-top: 20%;
    max-height: 85%;
    max-width: 85%;
    vertical-align: sub;
}

@mixin logo-margin {
    margin: 0 0 0 20%;
}

@mixin arrow-position {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1%;
}

@mixin arrow-position-i {
    padding-left: $arrow-padding-left;
    fill: color-darky;
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
    svg {
        @include arrow-size;
    }
}

@mixin center-block-property {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}