@media (orientation: landscape) {
    #section0-consecuence {
        .fp-bg {
            &:before {
                content: '';
                position: absolute;
                display: block;
                background: $color-gray-trasparent;
                @include bt-0;
                @include fullhw;
            }
            background-image: url('../media/consecuencias/bg-section0.jpg');
        }
        .fullscreen {
            @include fullpage-home;
            .bg-darky {
                background-color: $color-black-transparent;
                padding: 3%;
            }
            .font1 {
                @include font-fira-sans-extra-light;
                font-size: $font-size-21px;
                color: $color-white;
            }
            .font2 {
                @include font-fira-sans-medium;
                font-size: $font-size-21px;
                color: $color-white;
            }
            .font3 {
                @include font-fira-sans-extra-bold;
                font-size: $font-size-21px;
                color: $color-white;
            }
        }
    }
    /*** Section 1 ***/
    #section1-consecuence {
        .container-fluid {
            @include pm-0;
            @include fullhw;
            height: 100vh;
            .row {
                @include pm-0;
                .col-sm-12 {
                    @include pm-0;
                    .testimonial-item-consecuence-page {
                        max-width: 100%;
                        margin-top: 10%;
                        margin-right: 2%;
                        margin-left: 2%;
                        text-align: left;
                        padding-top: 0;
                        padding-right: 0;
                        padding-left: 0;
                        margin-bottom: 0%;
                        padding-bottom: 0;
                        .font1 {
                            @include font-fira-sans-extra-bold;
                            font-size: $font-size-15px;
                            color: $color-darky;
                        }
                        .font2 {
                            @include font-fira-sans-thin;
                            font-size: $font-size-14px;
                            color: $color-darky;
                        }
                    }
                }
            }
        }
    }
    #section1-consecuence-2 {
        .container-fluid {
            @include pm-0;
            .row {
                height: $height-100vh;
                @include pm-0;
                .lscp {
                    @include hide-element
                }
                .prt {
                    @include visible-element;
                }
                .col-sm-12 {
                    @include pm-0;
                }
                .bgYellow {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                    height: 100%;
                    .testimonial-item2 {
                        max-width: 100%;
                        margin-top: 15%;
                        margin-right: 0%;
                        margin-left: 0%;
                        text-align: left;
                        padding-top: 0;
                        padding-right: 0;
                        padding-left: 0;
                        margin-bottom: 0%;
                        padding-bottom: 0;
                        display: flex;
                        align-items: end;
                        .tabletconsecuencetext {
                            max-width: 100%;
                            margin-top: 23%;
                            margin-right: 1%;
                            margin-left: 0%;
                            text-align: left;
                            padding-top: 0;
                            padding-right: 0;
                            padding-left: 0;
                            margin-bottom: 0%;
                            padding-bottom: 0;
                            .font3 {
                                @include font-fira-sans-medium;
                                font-size: $font-size-15px;
                                color: $color-darky;
                            }
                        }
                        .img-consecuence {
                            max-width: 100%;
                            margin-top: 15%;
                            margin-right: 0%;
                            margin-left: 0%;
                            text-align: left;
                            padding-top: 0;
                            padding-right: 0;
                            padding-left: 0;
                            margin-bottom: 0%;
                            padding-bottom: 0;
                            /* text-align: center; */
                            width: 100%;
                        }
                    }
                }
                .bgCrema {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                    .long {
                        max-width: 100%;
                        margin-top: 23%;
                        margin-right: 5%;
                        margin-left: 4%;
                        text-align: left;
                        padding-top: 0;
                        padding-right: 0;
                        padding-left: 0;
                        margin-bottom: 0%;
                        padding-bottom: 0;
                        .font4 {
                            @include font-fira-sans-thin;
                            font-size: $font-size-19px;
                            color: $color-darky;
                            margin-bottom: 0%;
                        }
                        .font5 {
                            @include font-fira-sans-extra-bold;
                            font-size: $font-size-16px;
                            color: $color-orange;
                            margin-bottom: 0%;
                        }
                        .font6 {
                            @include font-fira-sans-regular;
                            font-size: $font-size-16px;
                            color: $color-orange;
                            margin-bottom: 0%;
                        }
                    }
                }
            }
        }
    }
    #section2-consecuence {
        .container-fluid {
            @include pm-0;
            .bg-dark {
                height: 100%;
            }
            .row {
                @include pm-0;
                .lscp {
                    @include visible-element;
                }
                .prt {
                    @include hide-element
                }
                .col-sm-6 {
                    @include pm-0;
                    .testimonial-item-graph-h {
                        max-width: 70%;
                        margin-top: 23%;
                        margin-left: 5%;
                        margin-bottom: 0%;
                        padding: 0% 0 0% 0;
                    }
                    .testimonial-item-grap2-h.graph2 {
                        max-width: 70%;
                        margin-top: 23% !important;
                        margin-right: 0%;
                        margin-left: 5%;
                        text-align: center;
                        padding-top: 0%;
                        padding-right: 0%;
                        padding-left: 0%;
                        padding-bottom: 0%;
                        margin-bottom: 0;
                    }
                }
            }
            .col-sm-12 {
                @include pm-0;
                .testimonial-item-graph-h {
                    max-width: 33%;
                    margin-top: 0%;
                    margin-left: 2%;
                    margin-bottom: 0%;
                    padding: 0% 0 0% 0;
                }
            }
        }
    }
    #section3-consecuence {
        .container-fluid {
            @include pm-0;
            .row {
                @include pm-0;
                .lscp {
                    @include visible-element;
                }
                .prt {
                    @include hide-element
                }
                .col-sm-4 {
                    @include pm-0;
                    height: 85vh;
                    .item-consecuenciasbeekeeper {
                        max-width: 100%;
                        margin-top: 0%;
                    }
                }
                .section3bg {
                    background-image: url('../media/consecuencias/bg-sector3H.jpg');
                    .fp-bg {
                        &:before {
                            content: '';
                            position: absolute;
                            display: block;
                            background: $color-gray-trasparent;
                            @include bt-0;
                            @include fullhw;
                        }
                    }
                    background-size: cover;
                }
                .col-sm-8 {
                    @include pm-0;
                    height: 85vh;
                }
                .bgOrange {
                    background-color: $color-orange-bg;
                    .item-consecuencias {
                        max-width: 100%;
                        margin: 13% 4% 0% 3%;
                        text-align: left;
                        padding: 0 0 0% 0;
                        .font1 {
                            @include font-fira-sans-extra-bold;
                            font-size: $font-size-15px;
                            color: $color-darky;
                            margin-bottom: 4% !important;
                        }
                        .font2 {
                            @include font-fira-sans-light;
                            font-size: $font-size-14px;
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
}