    /*** Section 0 ***/
    
    #section0-consecuence {
        .fp-bg {
            &:before {
                content: '';
                position: absolute;
                display: block;
                background: $color-gray-trasparent;
                @include bt-0;
                @include fullhw;
            }
            background-image: url('../media/consecuencias/bg-section0V.jpg');
        }
        .fullscreen {
            @include fullpage-home;
            .bg-darky {
                background-color: $color-black-transparent;
                padding: 3%;
            }
            .font1 {
                @include font-fira-sans-extra-light;
                font-size: $font-size-30px;
                color: $color-white;
            }
            .font2 {
                @include font-fira-sans-medium;
                font-size: $font-size-30px;
                color: $color-white;
                margin-bottom: $txt-space-line;
            }
            .font3 {
                @include font-fira-sans-medium;
                font-size: $font-size-21px;
                color: $color-white;
            }
        }
    }
    /*** Section 1 ***/
    
    #section1-consecuence {
        .container-fluid {
            @include pm-0;
            height: 100vh;
            .row {
                @include pm-0;
                height: 100%;
                .col-sm-12 {
                    @include pm-0;
                    height: 100%;
                    .testimonial-item-consecuence-page {
                        max-width: 100%;
                        height: 100%;
                        margin: 20% 3% 0% 4%;
                        padding: 0% 0% 0% 0%;
                        text-align: left;
                        .font1 {
                            @include font-fira-sans-extra-bold;
                            font-size: $font-size-19px;
                            color: $color-darky;
                        }
                        .font2 {
                            @include font-fira-sans-thin;
                            font-size: $font-size-16px;
                            color: $color-darky;
                        }
                    }
                }
            }
        }
    }
    
    #section1-consecuence-2 {
        .container-fluid {
            height: 100%;
            @include pm-0;
            .row {
                height: 100%;
                @include pm-0;
                .col-sm-12 {
                    @include pm-0;
                }
                .bgYellow {
                    height: 65%;
                    @include pm-0;
                    .testimonial-item2 {
                        max-width: 100%;
                        margin-top: 21;
                        margin-right: 3%;
                        margin-left: 4%;
                        text-align: left;
                        padding-top: 0;
                        padding-right: 0;
                        padding-left: 0;
                        margin-bottom: 0%;
                        padding-bottom: 0;
                        position: relative;
                        .tabletconsecuencetext {
                            max-width: 100%;
                            margin-top: 20%;
                            margin-right: 1%;
                            margin-left: 0%;
                            text-align: left;
                            padding-top: 0;
                            padding-right: 0;
                            padding-left: 0;
                            margin-bottom: 0%;
                            padding-bottom: 0;
                            .font3 {
                                @include font-fira-sans-light;
                                font-size: $font-size-15px;
                                color: $color-darky;
                            }
                        }
                        .img-consecuence {
                            max-width: 75%;
                            margin-top: 0%;
                            margin-right: 11%;
                            margin-left: 10%;
                            text-align: left;
                            padding-top: 0;
                            padding-right: 0;
                            padding-left: 0;
                            margin-bottom: 5%;
                            padding-bottom: 0;
                            text-align: center;
                            margin: auto;
                        }
                    }
                }
                .bgCrema {
                    .long {
                        max-width: 100%;
                        margin-top: 2%;
                        margin-right: 0%;
                        margin-left: 4%;
                        text-align: left;
                        padding-top: 0;
                        padding-right: 0;
                        padding-left: 0;
                        margin-bottom: 5%;
                        padding-bottom: 0;
                        .font4 {
                            @include font-fira-sans-thin;
                            font-size: $font-size-19px;
                            color: $color-darky;
                            margin-bottom: 0.3rem;
                        }
                        .font5 {
                            @include font-fira-sans-extra-bold;
                            font-size: $font-size-15px;
                            color: $color-orange;
                            margin-bottom: $line-height-base - 1;
                        }
                        .font6 {
                            @include font-fira-sans-regular;
                            font-size: $font-size-15px;
                            color: $color-orange;
                            margin-bottom: $line-height-base - 1;
                        }
                    }
                }
            }
        }
    }
    
    #section2-consecuence {
        .container-fluid {
            height: 100%;
            @include pm-0;
            .bg-dark {
                height: 100%;
            }
            .row {
                @include pm-0;
                .lscp {
                    @include hide-element
                }
                .prt {
                    @include visible-element;
                }
                .col-sm-12 {
                    .testimonial-item-graph {
                        max-width: 85%;
                        margin: 25% auto auto auto;
                        /* margin-right: 5%; */
                        margin-bottom: 0%;
                        padding: 0% 0 0% 0;
                    }
                    .testimonial-item-graph.graph1 {
                        margin-top: 4%;
                    }
                }
                .col-sm-12 {
                    .testimonial-item-grap2 {
                        max-width: 85%;
                        margin: 2% auto auto auto;
                        /* margin-right: 2%; */
                        /* margin-left: 2%; */
                        text-align: left;
                        padding-top: 0%;
                        padding-right: 0%;
                        padding-left: 0%;
                        padding-bottom: 0%;
                        margin-bottom: 13%;
                    }
                    .testimonial-item-graph2.graph2 {
                        margin-top: 4%;
                    }
                }
            }
        }
    }
    
    #section3-consecuence {
        .container-fluid {
            @include fullhw;
            @include pm-0;
            background-color: $color-orange-bg;
            .row {
                @include pm-0;
                .lscp {
                    @include hide-element
                }
                .prt {
                    @include visible-element;
                }
                .col-sm-12 {
                    @include pm-0;
                    .item-consecuenciasbeekeeper {
                        max-width: 100%;
                        @include pm-0;
                    }
                }
                .section3bg {
                    background-image: url('../media/consecuencias/bg-sector3V.jpg');
                    background-size: cover;
                    height: 40%;
                }
                .col-sm-12 {
                    background-color: $color-orange-bg;
                    background-size: cover;
                    .item-consecuencias {
                        max-width: 100%;
                        // height: 100%;
                        margin: 2% 3% 5% 3%;
                        text-align: left;
                        padding: 0 0 0% 0;
                        .font1 {
                            @include font-fira-sans-extra-bold;
                            font-size: $font-size-16px;
                            color: $color-darky;
                            margin-bottom: 4% !important;
                        }
                        .font2 {
                            @include font-fira-sans-light;
                            font-size: $font-size-15px;
                            color: $color-crema;
                        }
                    }
                }
                .bgOrange {
                    background-color: $color-orange-bg;
                    background-size: cover;
                    // height: 65vh;
                }
                .fp-bg {
                    &:before {
                        content: '';
                        position: absolute;
                        display: block;
                        background: $color-gray-trasparent;
                        @include bt-0;
                        @include fullhw;
                    }
                    background-image: url('../media/consecuencias/bg-sector3V.jpg');
                    background-size: cover;
                }
            }
        }
    }
    
    .bgCrema {
        background-color: $color-crema;
        @include fullhw;
    }
    
    .SpamYellow {
        color: $color-egg;
        @include fullhw;
    }