#section0-fraud {
    .fp-bg {
        &:before {
            content: '';
            position: absolute;
            display: block;
            background: $color-gray-trasparent;
            @include bt-0;
            @include fullhw;
        }
        background-image: url('../media/fraude/bg-sector0V.jpg');
    }
    .fullscreen {
        @include fullpage-home;
        .font1 {
            @include font-fira-sans-extra-light;
            font-size: $font-size-35px;
            color: $color-white;
            text-shadow: 1px 1px 0.3px $color-darky;
        }
        .font2 {
            @include font-fira-sans-bold;
            font-size: $font-size-35px;
            color: $color-white;
            text-shadow: 1px 1px 0.3px $color-darky;
        }
    }
}

#section1-fraud {
    .container-fluid {
        @include pm-0;
        .row {
            @include pm-0;
            .col-sm-12 {
                @include pm-0;
                .item-fraud-page {
                    max-width: 100%;
                    margin: 20% 5% 21% 4%;
                    text-align: left;
                    padding: 0 0;
                    height: auto;
                    .font1 {
                        @include font-fira-sans-bold;
                        font-size: $font-size-21px;
                        color: $color-darky;
                    }
                    .font2 {
                        @include font-fira-sans-bold;
                        font-size: $font-size-16px;
                        color: $color-darky;
                        margin-top: 0.5rem;
                        margin-bottom: 0.5rem;
                    }
                    .font3 {
                        @include font-fira-sans-light;
                        font-size: $font-size-16px;
                        color: $color-darky;
                        margin-bottom: 0.3rem;
                    }
                }
            }
        }
    }
}

#section2-fraud {
    .container-fluid {
        @include fullhw;
        @include pm-0;
        .row {
            height: $height-100vh;
            @include pm-0;
            .lscp {
                @include hide-element
            }
            .prt {
                @include visible-element;
            }
            .col-sm-12 {
                height: $height-100vh;
                @include pm-0;
                .testimonial-item-Fraud-Page {
                    max-width: 100%;
                    margin: 20% 5% 21% 4%;
                    text-align: left;
                    padding: 0 0;
                    .font1 {
                        @include font-fira-sans-bold;
                        font-size: $font-size-19px;
                        color: $color-egg;
                        margin-bottom: 0.5rem;
                    }
                    .font2 {
                        @include font-fira-sans-light;
                        font-size: $font-size-16px;
                        color: $color-crema;
                        margin-bottom: 0.3rem;
                    }
                }
            }
            .col-sm-12 {
                @include pm-0;
            }
        }
    }
    .font3 {
        @include font-fira-sans-light;
        font-size: $font-size-16px;
        color: $color-darky;
        margin-bottom: 0.3rem;
    }
    .testimonial-item-fraud-page-col-1 {
        @include testimonial-item-fraud-config;
        margin-top: 20%;
    }
    .testimonial-item-fraud-page-col-2 {
        @include testimonial-item-fraud-config;
        margin-top: 27%;
    }
}

#section2-fraud-2 {
    .container-fluid {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        height: 89vh;
        .row {
            // height: $height-100vh;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            .lscp {
                @include hide-element
            }
            .prt {
                @include visible-element;
            }
            .col-sm-12 {
                @include pm-0;
            }
            .bgYellow-v {
                background-color: $color-yellow;
                background-size: cover;
                height: 50vh !important;
                .testimonial-item-graph {
                    max-width: 100%;
                    margin-top: 20%;
                    margin-right: 6%;
                    margin-left: 4%;
                    margin-bottom: 5%;
                    padding: 0% 0 0% 0;
                }
            }
            .bg-fraud-v {
                background-color: $color-beige;
                background-size: cover;
                height: 50vh !important;
                .testimonial-item-graph-2 {
                    max-width: 100%;
                    margin-top: 10%;
                    margin-right: 6%;
                    margin-left: 4%;
                    margin-bottom: 0%;
                    padding: 0% 0 0% 0;
                }
            }
        }
    }
}

.cover-img {
    max-width: 100%;
}

.animated {
    -webkit-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInUp.animated {
    -webkit-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.fadeInDown.animated {
    -webkit-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.fadeIn.animated {
    -webkit-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

.fadeInDownBig.animated {
    -webkit-animation-name: fadeInDownBig;
    -o-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig;
}

.fadeInRight.animated {
    -webkit-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.fadeInRightF {
    -webkit-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInRightF;
    -o-animation-name: fadeInRightF;
    animation-name: fadeInRightF;
}

.fx {
    opacity: 1;
}

.fxInRight {
    opacity: 1;
}