@media (orientation: landscape) {
    /*** Start section 0 ***/
    #section0-io {
        .fp-bg {
            &:before {
                @include fp-bg-before;
                @include bt-0;
                @include fullhw;
                background-image: url('../media/importexport/bg-sector0.png');
                background-size: cover;
            }
        }
        .fullscreen {
            @include fullpage-home;
            .font1 {
                @include font-fira-sans-extra-light;
                font-size: $font-size-33px;
                color: $color-white;
            }
            .font2 {
                @include font-fira-sans-medium;
                font-size: $font-size-33px;
                color: $color-yellow;
                text-shadow: 1px 1px 0.3px $color-darky;
            }
            .font3 {
                @include font-fira-sans-medium;
                font-size: $font-size-33px;
                color: $color-orange;
                text-shadow: 1px 1px 0.3px $color-darky;
            }
            .font4 {
                @include font-fira-sans-medium;
                font-size: $font-size-33px;
                color: $color-orange;
            }
            .font5 {
                @include font-fira-sans-medium;
                font-size: $font-size-33px;
                color: $color-white;
            }
        }
    }
    /*** Start section 1 ***/
    #section1-io {
        .container-fluid {
            @include pm-0;
            .row {
                @include pm-0;
                .col-sm-12 {
                    @include pm-0;
                    .laudering {
                        margin-left: 4%;
                        margin-top: 12%;
                    }
                    .padding-import-export {
                        padding-right: 0%;
                        margin-left: 4%;
                        margin-top: 1%;
                    }
                }
            }
        }
        .font1 {
            @include font-fira-sans-bold;
            font-size: $font-size-15px;
            color: $color-darky;
        }
        .font2 {
            @include font-fira-sans-light;
            font-size: $font-size-15px;
            color: $color-darky;
        }
        .font3 {
            @include font-fira-sans-light;
            font-size: $font-size-14px;
            line-height: $txt-space-line;
            color: $color-darky;
        }
    }
    /*** Start section 1-2 ***/
    #section1-io-2 {
        .container-fluid {
            @include pm-0;
            .row {
                height: $height-100vh;
                @include pm-0;
                .lscp {
                    @include visible-element;
                }
                .prt {
                    @include hide-element;
                }
                .col-sm-12 {
                    @include pm-0;
                }
                .col-sm-6 {
                    @include pm-0;
                }
            }
            .bgOrange {
                background-color: $color-orange-bg;
                .col-sm-6.lscp {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 48%;
                    flex: 0 0 48%;
                    max-width: 48%;
                    .message-sector2 {
                        margin-left: 4%;
                        margin-right: 4%;
                        margin-top: 35%;
                    }
                }
            }
        }
        .font4 {
            @include font-fira-sans-light;
            font-size: $font-size-16px;
            color: $color-white;
        }
        .img86 {
            width: 90% !important;
            height: auto;
            margin-top: 12%;
            margin-bottom: 39%;
        }
    }
    /*** Start section 2 ***/
    #section2-io {
        .container-fluid {
            height: 100%;
            @include pm-0;
            .row {
                height: 100%;
                @include pm-0;
                .lscp {
                    @include visible-element;
                }
                .prt {
                    @include hide-element;
                }
                .col-sm-12 {
                    display: visibility !important;
                    @include pm-0;
                    .font1 {
                        @include font-fira-sans-bold;
                        font-size: $font-size-16px;
                        color: $color-white;
                        margin-top: 12%;
                        margin-left: 2.5%;
                    }
                    .font2 {
                        @include font-fira-sans-thin;
                        font-size: $font-size-16px;
                        color: $color-white;
                        margin-left: 2.5%;
                        margin-bottom: -1%;
                    }
                    .side-menu .inner-wrapper {
                        padding: 15% 0% 15% 0%;
                        height: 100%;
                        position: relative;
                        overflow-y: auto;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        text-align: left;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                    }
                }
                .col-sm-6 {
                    @include pm-0;
                    .testimonial-item-graph-h {
                        max-width: 100%;
                        text-align: left;
                        margin-left: 4%;
                        margin-right: 3%;
                        margin-bottom: 0%;
                        padding-top: 2%;
                        padding-right: 0%;
                        padding-bottom: 0%;
                        padding-left: 0%;
                        margin-top: 0%;
                        margin-right: 6%;
                        margin-bottom: 2%;
                    }
                    .testimonial-item-graph-2-h {
                        max-width: 100%;
                        text-align: left;
                        margin-left: 0%;
                        margin-right: 3%;
                        margin-bottom: 0%;
                        padding-top: 2%;
                        padding-right: 0%;
                        padding-bottom: 0%;
                        padding-left: 0%;
                        margin-top: 0%;
                        margin-right: 6%;
                        margin-bottom: 2%;
                    }
                    .img85 {
                        width: 80%;
                    }
                }
            }
        }
    }
}