    #section0 {
        .fp-bg {
            &:before {
                content: '';
                position: absolute;
                display: block;
                background: $color-gray-trasparent;
                @include bt-0;
                @include fullhw;
            }
            background-image: url('../media/index/mapaindexportrait.svg');
        }
        .fullscreen {
            @include fullpage-home;
            .font1 {
                @include font-fira-sans-extra-light;
                font-size: $font-size-33px;
                color: $color-white;
            }
            .font2 {
                @include font-fira-sans-bold;
                font-size: $font-size-31px;
                color: $color-white;
            }
            .font3 {
                @include font-fira-sans-thin;
                font-size: $font-size-33px;
                color: $color-white;
            }
            .tarros {
                width: 70%;
                height: auto;
                padding-top: 4%;
                margin: auto;
                display: block;
            }
        }
    }
    
    #section1 {
        .container-fluid {
            @include pm-0;
            .row {
                .scroll-down {
                    position: absolute;
                    z-index: 1;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                    bottom: 12%;
                    color: #fff !important;
                }
                height: $height-100vh;
                @include pm-0;
                .col-sm-6 {
                    @include pm-0;
                }
            }
        }
        .portraitmobile {
            display: none;
        }
        .landscapemobile {
            display: visible;
        }
        .font1 {
            @include font-fira-sans-bold;
            font-size: $font-size-21px;
            color: $color-darky
        }
        .font2 {
            @include font-fira-sans-thin;
            font-size: $font-size-19px;
            color: $color-darky
        }
        .container-fluid {
            height: 100%;
            .row {
                height: 100%;
                background-color: $color-orange-bg;
            }
            .index-consecuence-item {
                max-width: 100%;
                text-align: left;
                margin-left: 4%;
                margin-top: 23%;
                margin-right: 3%;
                margin-bottom: 15%;
                padding-top: 0%;
                padding-right: 0%;
                padding-bottom: 2%;
                padding-left: 0%;
            }
            .hive {
                max-width: 52%;
                padding-bottom: 3%;
                margin-top: 0%;
                padding-top: 0%;
            }
        }
    }
    
    #section2 {
        .fp-bg {
            &:before {
                content: '';
                position: absolute;
                display: block;
                background: $color-gray-trasparent;
                @include bt-0;
                @include fullhw;
            }
            background-image: url('../media/index/bg-index-section2portrait.jpg');
            background-size:cover;
        }
        .container-fluid {
            @include pm-0;
            .row {
                height: $height-100vh;
                @include pm-0;
                .lscp {
                    @include hide-element;
                }
                .prt {
                    @include visible-element;
                }
                .col-sm-12 {
                    @include pm-0;
                    .index-consecuence-item {
                        max-width: 100%;
                        text-align: left;
                        margin-left: 4%;
                        margin-top: 5%;
                        margin-right: 3%;
                        margin-bottom: 3%;
                        padding-top: 0%;
                        padding-right: 0%;
                        padding-bottom: 0%;
                        padding-left: 0%;
                        .font1 {
                            @include font-fira-sans-bold;
                            font-size: $font-size-21px;
                            color: $color-white;
                            text-shadow: 1px 1px 0.3px $color-darky;
                        }
                        .font2 {
                            @include font-fira-sans-light;
                            font-size: $font-size-21px;
                            color: $color-egg;
                            text-shadow: 1px 1px 0.3px $color-darky;
                        }
                        .font3 {
                            @include font-fira-sans-light;
                            font-size: $font-size-19px;
                            color: $color-white;
                            text-shadow: 1px 1px 0.3px $color-darky;
                        }
                    }
                    .fraudMessage {
                        max-width: 100%;
                        text-align: left;
                        margin-left: 4%;
                        margin-top: 0%;
                        margin-right: 3%;
                        margin-bottom: 3%;
                        padding-top: 13%;
                        padding-right: 0%;
                        padding-bottom: 0%;
                        padding-left: 0%;
                        .font2 {
                            @include font-fira-sans-light;
                            font-size: $font-size-21px;
                            color: $color-egg;
                            text-shadow: 1px 1px 0.3px $color-darky;
                        }
                        .font4 {
                            @include font-fira-sans-light;
                            font-size: $font-size-21px;
                            color: $color-egg;
                            text-shadow: 1px 1px 0.3px $color-darky;
                        }
                        .font5 {
                            @include font-fira-sans-light;
                            font-size: $font-size-21px;
                            color: $color-white;
                            text-shadow: 1px 1px 0.3px $color-darky;
                        }
                        .buttom-left.es {
                            @include buttom-left-position-portrait;
                        }
                        .buttom-left.en {
                            @include buttom-left-position-portrait;
                        }
                        .buttom-left.fr {
                            @include buttom-left-position-portrait;
                        }
                    }
                }
                .col-sm-6 {
                    @include pm-0;
                }
            }
        }
    }
    
    #section3 {
        .container-fluid {
            @include pm-0;
            height: 100%;
            .row {
                height: 100%;
                @include pm-0;
                .lscp {
                    @include hide-element
                }
                .prt {
                    @include visible-element;
                }
                .bgYellow-v {
                    background-color: $color-yellow;
                    background-size: cover;
                    height: 100%;
                    .index-consecuence-item-v {
                        max-width: 100%;
                        margin: 25% 3% 0% 4%;
                        text-align: left;
                        padding: 0% 0% 0% 0%;
                        .font1 {
                            @include font-fira-sans-bold;
                            font-size: $font-size-21px;
                            color: $color-darky;
                        }
                        .font2 {
                            @include font-fira-sans-thin;
                            font-size: $font-size-19px;
                            color: $color-darky;
                        }
                    }
                    .contenedorBtnLeer {
                        margin: 4% auto;
                    }
                }
                .bgCrema-v {
                    background-color: $color-crema;
                    .item-newspaper-v {
                        padding: 0% 0% 0% 0%;
                        margin: 0% 58% 0% 0%;
                        .newspaper-padding {
                            margin-top: 0%;
                            width: 100%;
                            margin-left: 4%;
                            margin-right: 0%;
                        }
                    }
                }
                .col-sm-12 {
                    @include pm-0;
                }
            }
        }
    }
    
    // #section3-2 {
    //     
    //     .container-fluid {
    //         @include pm-0;
    //         .row {
    //             // height: $height-100vh;
    //             @include pm-0;
    //             .lscp {
    //                 @include hide-element
    //             }
    //             .prt {
    //                 @include visible-element;
    //             }
    //             .col-sm-12 {
    //                 @include pm-0;
    //                 .item-newspaper {
    //                     padding: 0% 0% 0% 0%;
    //                     margin: 25% 0% 0% 0%;
    //                     .newspaper-padding {
    //                         margin-top: 0%;
    //                         width: 80%;
    //                         margin-left: 0%;
    //                         margin-right: 0%;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }