#section0-consecuence {
    .row {
        height: $height-100vh;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
    .container-fluid {
        padding: 0 0 0 0;
    }
    .fullscreen {
        @include center-block;
    }
    .fp-bg {
        &:before {
            content: '';
            position: absolute;
            display: block;
            background: $color-gray-trasparent;
            @include bt-0;
            @include fullhw;
        }
        background-image: url('../../media/consecuencias/bg-section0.jpg'),
        url('../media/consecuencias/bg-section0.jpg'),
        url('media/consecuencias/bg-section0.jpg');
    }
    .font1 {
        @include font-fira-sans-extra-light;
        font-size: $font-size-53px;
        color: $color-white;
    }
    .font2 {
        @include font-fira-sans-medium;
        font-size: $font-size-53px;
        color: $color-white;
        margin-bottom: $txt-space-line + 0.2;
    }
    .font3 {
        @include font-fira-sans-extra-bold;
        font-size: $font-size-35px - 0.5;
        color: $color-white;
    }
}

#section1-consecuence {
    .row {
        height: $height-100vh;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        .col-md-6 {
            padding: 0 0 0 0;
        }
    }
    .testimonial-item22 {
        padding-top: 6%;
        margin-top: 5%;
        padding-bottom: 5%;
    }
    .text-consecuence {
        margin: 5% 1% 0% 3%;
        text-align: left;
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
    .container-fluid {
        padding: 0 0 0 0;
    }
    .font1 {
        @include font-fira-sans-extra-bold;
        font-size: $font-size-35px;
        color: $color-darky;
    }
    .font2 {
        @include font-fira-sans-thin;
        font-size: $font-size-16px;
        color: $color-darky;
    }
    .font3 {
        @include font-fira-sans-medium;
        font-size: $font-size-19px;
        color: $color-darky;
    }
    .font4 {
        @include font-fira-sans-thin;
        font-size: $font-size-35px;
        color: $color-darky;
    }
    .font5 {
        @include font-fira-sans-extra-bold;
        font-size: $font-size-19px;
        color: $color-orange;
        margin-bottom: $line-height-base - 1;
    }
    .font6 {
        @include font-fira-sans-regular;
        font-size: $font-size-19px;
        color: $color-orange;
        margin-bottom: $line-height-base - 1;
    }
}

#section2-consecuence {
    .row {
        height: $height-100vh;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
    .container-fluid {
        padding: 0 0 0 0;
    }
    .testimonial-item-graph {
        max-width: 100%;
        margin-top: 19vh;
        margin-right: 5%;
        margin-bottom: 0%;
        padding: 0% 0 0% 0;
    }
    .testimonial-item-grap2 {
        max-width: 35%;
        margin-top: 0%;
        margin-right: 2%;
        margin-left: 2%;
        text-align: left;
        padding-top: 0%;
        padding-right: 0%;
        padding-left: 0%;
        padding-bottom: 0%;
        margin-bottom: 5%;
    }
}

#section3-consecuence {
    .row {
        height: $height-100vh;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        .col-md-6 {
            padding: 0 0 0 0;
        }
    }
    .container-fluid {
        padding: 0 0 0 0;
    }
    .bgOrange {
        background-color: $color-orange-bg;
    }
    .fp-bg {
        &:before {
            content: '';
            position: absolute;
            display: block;
            background: $color-gray-trasparent;
            @include bt-0;
            @include fullhw;
        }
    }
    .font1 {
        @include font-fira-sans-extra-bold;
        font-size: $font-size-35px;
        color: $color-darky;
    }
    .font2 {
        @include font-fira-sans-thin;
        font-size: $font-size-21px;
        color: $color-crema;
    }
}

.section3bg {
    background-image: url('../../media/consecuencias/bg-sector3.jpg'), url('../media/consecuencias/bg-sector3.jpg'), url('media/consecuencias/bg-sector3.jpg');
    background-size: cover;
}

.bg-darky {
    background-color: $color-black-transparent;
}

.bgCrema {
    background-color: $color-crema;
    @include fullhw;
}

.SpamYellow {
    color: $color-egg;
    @include fullhw;
}

.long {
    max-width: 100%;
    text-align: left;
    padding: 0 0 4% 0;
    margin: 3% 0 2% 0;
}

.text-consecuence {
    margin: 15% 1% 0% 3%;
    text-align: left;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.6rem;
}

.img-consecuence {
    position: relative;
    margin: 0% 0 0% 33%;
    text-align: right;
    padding: 0 8% 0 0;
}

.item-consecuencias {
    max-width: 100%;
    margin: 26% 3% 26% 3%;
    text-align: left;
    padding: 0 0 1% 0;
}

.item-consecuenciasbeekeeper {
    max-width: 100%;
    height: 100%;
}

.testimonial-item-consecuence-page {
    @include page-item;
}

.testimonial-item22 {
    padding-top: 6%;
    margin-top: 10%;
    padding-bottom: 5%;
}