#section0 {
    .fp-bg {
        &:before {
            content: '';
            position: absolute;
            display: block;
            background: $color-gray-trasparent;
            @include bt-0;
            @include fullhw;
        }
        background-image: url('../media/index/mapaindex.svg');
    }
    .fullscreen {
        @include center-block;
    }
    .container-fluid {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        .row {
            height: $height-100vh;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            .col-md-6 {
                padding: 0 0 0 0;
                margin: 0 0 0 0;
            }
        }
    }
    .font1 {
        @include font-fira-sans-extra-light;
        font-size: $font-size-38px;
        color: $color-white;
    }
    .font2 {
        @include font-fira-sans-bold;
        font-size: $font-size-35px;
        color: $color-white;
    }
    .font3 {
        @include font-fira-sans-thin;
        font-size: $font-size-38px;
        color: $color-white;
    }
    .tarros {
        width: 35vw;
        height: auto;
        align-self: center;
        margin: auto;
    }
}

#section1 {
    .container-fluid {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        .row {
            height: $height-100vh;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            .col-md-6 {
                padding: 0 0 0 0;
                margin: 0 0 0 0;
            }
        }
    }
    .font1 {
        @include font-fira-sans-bold;
        font-size: $font-size-38px;
        color: $color-darky
    }
    .font2 {
        @include font-fira-sans-thin;
        font-size: $font-size-21px;
        color: $color-darky
    }
    .container-fluid {
        height: 100%;
        .row {
            height: 100%;
            background-color: $color-orange-bg;
            .col-md-6 {
                height: 100%;
            }
        }
        .index-consecuence-item {
            @include page-item;
            .FiraSansBold38 {
                padding-bottom: 3%;
            }
        }
    }
}

#section2 {
    .container-fluid {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        .row {
            height: $height-100vh;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            .col-md-6 {
                padding: 0 0 0 0;
                margin: 0 0 0 0;
            }
        }
    }
    .fp-bg {
        &:before {
            content: '';
            position: absolute;
            display: block;
            background: $color-gray-trasparent;
            @include bt-0;
            @include fullhw;
        }
    }
    .font1 {
        @include font-fira-sans-bold;
        font-size: $font-size-38px;
        color: $color-white;
        text-shadow: 1px 1px 0.3px $color-darky;
    }
    .font2 {
        @include font-fira-sans-light;
        font-size: $font-size-35px;
        color: $color-egg;
        text-shadow: 1px 1px 0.3px $color-darky;
    }
    .font3 {
        @include font-fira-sans-thin;
        font-size: $font-size-21px;
        color: $color-white;
        text-shadow: 1px 1px 0.3px $color-darky;
    }
    .font4 {
        @include font-fira-sans-light;
        font-size: $font-size-26px + 0.2;
        color: $color-egg;
        text-shadow: 1px 1px 0.3px $color-darky;
    }
    .font5 {
        @include font-fira-sans-light;
        font-size: $font-size-35px;
        color: $color-white;
        text-shadow: 1px 1px 0.3px $color-darky;
    }
    background-image: url('../media/index/bg-index-section2.jpg');
    background-size:cover;
    background-position:centered;
    background-repeat:no-repeat;
    .index-consecuence-item {
        @include page-item;
    }
    .fraudMessage {
        width: auto;
        -ms-flex-item-align: end;
        padding-top: 85vh;
    }
    .buttom-left.es {
        @include buttom-left-position;
    }
    .buttom-left.en {
        @include buttom-left-position;
    }
    .buttom-left.fr {
        @include buttom-left-position;
    }
}

#section3 {
    .container-fluid {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        .row {
            height: $height-100vh;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            .col-md-6 {
                padding: 0 0 0 0;
                margin: 0 0 0 0;
            }
        }
    }
    .index-consecuence-item {
        @include page-item;
    }
    .topmnews {
        padding: 12% 0% 17% 0% !important;
    }
    .newspaper-padding {
        padding-top: 0;
        width: 80%;
    }
    .font1 {
        @include font-fira-sans-bold;
        font-size: $font-size-38px;
        color: $color-darky;
    }
    .font2 {
        @include font-fira-sans-thin;
        font-size: $font-size-21px;
        color: $color-darky;
    }
}