.footerpage {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 8%;
    padding-top: 2%;
    padding-bottom: 1%;
    // margin-bottom: 0%;
    background-color: $color-darky;
    text-align: center;
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: flex;
    // -ms-flex-wrap: wrap;
    // flex-wrap: wrap;
    p {
        color: $color-white;
    }
}

.company-about {
    @include font-fira-sans-extra-light;
    font-size: $font-size-16px;
    text-align: center;
    padding-top: 0;
}

.footer-social {
    ul {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0.3%;
        display: inline-block;
        li {
            margin: 0 2.2%;
            display: inline-block;
            a {
                // display: block;
                display: inline-block;
                border: 1px solid transparent;
                position: relative;
                z-index: 1;
                overflow: hidden;
                width: 25px;
                height: 25px;
                // line-height: 1.5rem;
                // font-size: 0.8rem;
                // -webkit-transition: background-color .2s ease-in-out;
                // -moz-transition: background-color .2s ease-in-out;
                // -ms-transition: background-color .2s ease-in-out;
                // -o-transition: background-color .2s ease-in-out;
                transition: background-color .5s ease;
                color: $color-white-gray;
                border: 1px solid transparent;
                text-align: center;
                border-radius: 50%;
                &:hover {
                    background-color: $color-orange;
                    color: $color-white;
                }
                .socialicon {
                    svg {
                        opacity: 1;
                        height: 19px;
                        width: 19px;
                    }
                }
            }
        }
    }
    li.animated-wrap {
        a {
            &:hover {
                background-color: transparent;
                color: $color-white;
            }
        }
    }
}

.social-icons-simple {
    text-align: center;
    margin-bottom: 0;
    margin-left: 0%;
    padding-left: 0;
    li {
        display: inline-block;
        a {
            display: block;
            border: 1px solid transparent;
            position: relative;
            z-index: 1;
            overflow: hidden;
            width: 25px;
            height: 25px;
            // -webkit-transition: background-color .5s ease;
            // -o-transition: background-color .5s ease;
            transition: background-color .5s ease;
            color: $color-white-gray;
            border: 1px solid transparent;
            text-align: center;
            // -webkit-border-radius: 50%;
            border-radius: 50%;
            &:hover {
                background-color: $color-orange;
                color: $color-white;
            }
            .socialicon {
                svg {
                    height: 15px;
                    width: 15px;
                }
            }
        }
    }
    li.animated-wrap {
        a {
            &:hover {
                background-color: transparent;
                color: $color-white;
            }
        }
    }
}