.footerpage {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 3%;
    padding: 0.5% 0% 0.5% 0%;
    margin: 0% 0% 0% 0%;
    background-color: $color-darky;
    text-align: center;
    p {
        color: $color-white;
    }
    .footer-social {
        ul {
            width: 100%;
            margin-top: 0;
            margin-bottom: 0.3%;
            display: inline-block;
            li {
                margin: 0 2%;
                display: inline-block;
                a {
                    border: 1px solid transparent;
                    position: relative;
                    z-index: 1;
                    overflow: hidden;
                    width: 25px;
                    height: 25px;
                    transition: background-color .2s ease-in-out;
                    color: $color-white-gray;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    &:hover {
                        background-color: $color-orange;
                        color: $color-white;
                    }
                    img {
                        height: 16px;
                        width: auto;
                    }
                }
            }
        }
    }
}

.company-about {
    @include font-fira-sans-extra-light;
    font-size: $font-size-10px;
    text-align: center;
    padding-top: 0;
}

.social-icons-simple {
    text-align: center;
    margin-bottom: 0;
    margin-left: 0%;
    padding-left: 0;
    li {
        margin: 0 0.3%;
        display: inline-block;
        a {
            display: inline-block;
            border: 1px solid transparent;
            position: relative;
            z-index: 1;
            overflow: hidden;
            width: 26px;
            height: 26px;
            transition: background-color .5s ease;
            color: $color-white-gray;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            &:hover {
                background-color: $color-orange;
            }
            img {
                height: 13px;
                width: auto;
            }
        }
    }
}

@media (orientation: landscape) {
    .footerpage {
        height: 4%;
        padding: 0.6% 0% 2% 0%;
        margin: 0% 0% 0% 0%;
        background-color: $color-darky;
        text-align: center;
        p {
            color: $color-white;
        }
    }
    .company-about {
        @include font-fira-sans-extra-light;
        font-size: 0.55rem;
        text-align: center;
        padding-top: 0;
        text-align: center;
    }
    .footer-social {
        ul {
            width: 100%;
            margin-top: 0;
            margin-bottom: 0%;
            display: inline-block;
            li {
                margin: 0 1%;
                display: inline-block;
                a {
                    text-align: center;
                    margin: 0% 0% 0% 0%;
                    padding: 0% 0% 0% 0%;
                    width: 7%;
                    height: 7%;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    -webkit-transition: background-color .2s ease-in-out;
                    -moz-transition: background-color .2s ease-in-out;
                    -ms-transition: background-color .2s ease-in-out;
                    -o-transition: background-color .2s ease-in-out;
                    transition: background-color .2s ease-in-out;
                    &:hover {
                        background-color: $color-orange;
                        color: $color-white;
                    }
                    .socialicon {
                        svg {
                            height: 10px;
                            width: 10px;
                        }
                    }
                }
            }
        }
    }
}