/**** Background ****/

.bgYellow {
    background-color: $color-egg;
}

.bg-import-export {
    background-color: $color-darky !important;
}

.bg-darkTrasparent-1rem {
    background-color: $color-black-transparent !important;
}

.SpamYellow_fece00 {
    color: $color-egg;
}