button {
    &:focus {
        outline: none;
        text-decoration: none;
    }
    &:active {
        outline: none;
        text-decoration: none;
    }
}

.btn.active.focus {
    outline: none;
    text-decoration: none;
}

.btn.active {
    &:focus {
        outline: none;
        text-decoration: none;
    }
}

.btn.focus {
    outline: none;
    text-decoration: none;
}

.btn {
    &:active.focus {
        outline: none;
        text-decoration: none;
    }
    &:active {
        &:focus {
            outline: none;
            text-decoration: none;
        }
    }
    &:focus {
        outline: none;
        text-decoration: none;
    }
    display: inline-block;
    font-size: 17px;
    border: 2px solid transparent;
    letter-spacing: .5px;
    line-height: inherit;
    border-radius: 0;
    text-transform: capitalize;
    width: auto;
    font-family: 'Poppins',
    sans-serif;
    font-weight: 500;
    transition-duration: 0.3s;
    transition: all 0.3s !important;
    transition-timing-function: ease-in-out;
}

.contenedorBtnLeer {
    position: relative;
    height: 12%;
    width: 12%;
    margin: 6% auto;
    img {
        position: absolute;
        left: 0;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
    }
    img.top {
        &:hover {
            opacity: 0;
        }
    }
}

.btn.btn-large {
    font-size: 1rem;
    padding: 2% 6%;
    line-height: 1rem;
}

.btn.btn-gradient {
    color: #ffffff;
    flex: 1 1 auto;
    transition: 0.5s;
    background-size: 200% auto;
    background-color: #d88100;
    &:hover {
        background-position: right center;
    }
}

.btn.btn-rounded {
    border-radius: 50px;
}

.scroll-down {
    @include arrow-position;
    color: $color-white !important;
    i {
        @include arrow-position-i;
        fill: $color-white;
    }
}

.scroll-down-black {
    @include arrow-position;
    color: $color-darky !important;
    i {
        @include arrow-position-i;
        fill: $color-darky;
    }
}