.translateFr {
    @include translate-flag;
    margin-right: 10%;
}

.translateEn {
    @include translate-flag;
    margin-right: 7%;
}

.translateEs {
    @include translate-flag;
    margin-right: 4%;
}

.opacity03 {
    opacity: 0.4;
    filter: grayscale(100%) !important;
    filter: opacity(80%) !important;
    filter: brightness(20%) !important;
}

.opacity1 {
    opacity: 1;
}

.imgZoom {
    img {
        transition: transform .5s ease;
    }
    &:hover {
        img {
            transform: scale(1.5);
        }
    }
}