/**** Form ****/

.title {
    margin-bottom: 5%;
    margin-top: 9%;
    h2 {
        @include font-fira-sans-medium;
        font-size: $font-size-31px;
        line-height: $txt-space-line;
    }
}

.contact-form {
    max-width: $max-width-55;
    display: block;
    text-align: center;
    margin: 0 auto;
    .form-control {
        @include font-fira-sans-light;
        border: none;
        border-bottom: 1px solid;
        color: $color-gray-white;
        padding: 3% 1%;
        background: $color-white;
        letter-spacing: .7px;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 6%;
        color: $color-darky;
        font-size: $font-size-21px;
        position: relative;
        -webkit-transition: border .9s ease;
        -o-transition: border .9s ease;
        transition: border .9s ease;
    }
    textarea {
        min-height: 27.13%;
        resize: none;
    }
    .form-group {
        margin-bottom: 6.65%;
    }
}

.form-control {
    &::placeholder {
        color: $color-gray-white;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: $color-gray-white;
    }
    &::-ms-input-placeholder {
        color: $color-gray-white;
    }
}